@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba</h1>
    <p>Hakkında <a href="https://docs.microsoft.com/aspnet/core">Index KIsmı</a>.</p>
</div>
